body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #383a3b;
    color: white;
    margin-top: 80px;
}

h1 {
    margin: 20px;
}


textarea {
    width: 80%;
    padding: 10px;
}

div {
    margin: 40px;
}

button {
    padding: 10px 20px;
    background-color: #0074D9;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056A6;
}

/* Add this CSS to your style.css */
#resultContainer {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    color: white;
}

#resultContainer p {
    font-weight: bold;
}

#result {
    font-size: 18px;
}

#playMorseCode,
#pauseMorseCode {
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
}


.below {
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 106;
    margin-top: 400px;
  }
  
  .text {
    font-weight: 100;
    font-size: 50px;
    color: #fafafa;
    z-index: 106;
  }
  .dud {
  
    z-index: 106;
  }
  
  .word {
    z-index: 106;
  }